<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Questions</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <link href="../dist/output.css " rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../static/js/questions.js"></script>
</head>
<body>

  <div class="w-full">
    <h1 class="text-4xl font-bold w-full flex justify-center">Questions</h1>
    <div  id="questionspage">
      

  </div>
  <div class="flex justify-center mt-4" id="pagination">

  </div>
  <div class="flex justify-end mr-6 mb-3 " id="submit">

  </div>

</body>

</html>